.moin-content.kmi-layout-content{
	background:#f7f7f7;
}
.lbl-userno{
	position:relative;
	font-size:15px;
	top:1px;
	left : 5px;
}

.btn-change{
	font-size:15px;
	position:absolute;
	margin:0px auto;
	height: 24px;
	text-align:center;
	line-height:21px;
	background-color:#db4d3e;
    color : white;
    top : 15px;
	right : 10px;
}
.line-top{
	position:relative;
	margin-bottom : 15px;
	border-top: 1px solid #000000;
}
.txt-userno{
	position: absolute;
	font-size:15;
	left:90px;
	top:1px;
}
.moin-content .input{
	background-color: #ffffff;
}
.moin-content .label{
	font-size: 15px;
    width: 54px;
    text-align: left;
    box-sizing: border-box;
}
.moin-content .btn-login{
	position:fixed;
	font-size:20px;
	background-color:#db4d3e;
    color : white;
	bottom :94px;
	height: 48px;
	left:50%;
	margin-left:-100px;
}
.moin-content  .kmi-layout-main-content .border-top{
	position:absolute;
	border: 0.75px solid #000000;
	bottom:20px;
	width:93%;
	left :10px;
}
.moin-content .btn-moin{
	position:fixed;
	font-size:15px;
	text-align:center;
	line-height:21px;
	background-color:#FFD2D2;
    color : white;
	bottom : 0.5px;
	left : 10px;
	height: 24px;
}
.moin-content .btn-moout{
	position:fixed;
	font-size:15px;
	text-align:center;
	line-height:21px;
	background-color:#db4d3e;
    color : white;
	bottom : 0.5px;
	height: 24px;
	left:50%;
	margin-left:-40px;
}
.moin-content .btn-Execute{
	position:fixed;
	font-size:15px;
	text-align:center;
	line-height:21px;
	background-color:#db4d3e;
    color : white;
	bottom : 0.5px;
	right : 10px;	
	height: 24px;
}
.moin-content .txt-oparea
{
	position:relative;
	left:5px;
}
.moin-content .txt-prdno
{
	position:relative;
	left:5px;
}
.moin-content .txt-opno
{
	position:relative;
	left:5px;
}