<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="node.js" path="*.js" verb="*" modules="iisnode" resourceType="Unspecified" />
        </handlers>
        <security>
            <requestFiltering>
				<fileExtensions>
                    <remove fileExtension=".webinfo" />
                    <remove fileExtension=".vsdisco" />
                    <remove fileExtension=".vjsproj" />
                    <remove fileExtension=".vbproj" />
                    <remove fileExtension=".vb" />
                    <remove fileExtension=".ssmap" />
                    <remove fileExtension=".ssdgm" />
                    <remove fileExtension=".skin" />
                    <remove fileExtension=".sitemap" />
                    <remove fileExtension=".sdmDocument" />
                    <remove fileExtension=".sdm" />
                    <remove fileExtension=".sd" />
                    <remove fileExtension=".rules" />
                    <remove fileExtension=".resx" />
                    <remove fileExtension=".resources" />
                    <remove fileExtension=".refresh" />
                    <remove fileExtension=".msgx" />
                    <remove fileExtension=".mdf" />
                    <remove fileExtension=".mdb" />
                    <remove fileExtension=".master" />
                    <remove fileExtension=".lsaprototype" />
                    <remove fileExtension=".lsad" />
                    <remove fileExtension=".licx" />
                    <remove fileExtension=".ldf" />
                    <remove fileExtension=".lddprototype" />
                    <remove fileExtension=".ldd" />
                    <remove fileExtension=".ldb" />
                    <remove fileExtension=".jsl" />
                    <remove fileExtension=".java" />
                    <remove fileExtension=".exclude" />
                    <remove fileExtension=".dsprototype" />
                    <remove fileExtension=".dsdgm" />
                    <remove fileExtension=".dd" />
                    <remove fileExtension=".csproj" />
                    <remove fileExtension=".compiled" />
                    <remove fileExtension=".cd" />
                    <remove fileExtension=".ascx" />
                    <remove fileExtension=".asax" />
                    <remove fileExtension=".adprototype" />
                    <remove fileExtension=".ad" />
                    <remove fileExtension=".cs" />
                    <remove fileExtension=".config" />
                    <remove fileExtension=".browser" />
                    <add fileExtension=".*" allowed="true" />
                </fileExtensions>
                <verbs>
                    <add verb="--allow-file-access-from-files" allowed="true" />
                    <add verb="--disable-web-security" allowed="true" />
                    <add verb="--user-data-dir" allowed="true" />
                </verbs>
            </requestFiltering>
        </security>
		<staticContent>
        <mimeMap fileExtension=".woff2" mimeType="application/woff2" />
	    <mimeMap fileExtension=".json" mimeType="application/json" />
		</staticContent>
	  <iisnode node_env="%node_env%" nodeProcessCountPerApplication="1" maxConcurrentRequestsPerProcess="1024" maxNamedPipeConnectionRetry="100" namedPipeConnectionRetryDelay="250" maxNamedPipeConnectionPoolSize="512" maxNamedPipePooledConnectionAge="30000" asyncCompletionThreadCount="0" initialRequestBufferSize="4096" maxRequestBufferSize="65536" watchedFiles="*.js;iisnode.yml" uncFileChangesPollingInterval="5000" gracefulShutdownTimeout="60000" loggingEnabled="true" logDirectory="iisnode" debuggingEnabled="true" debugHeaderEnabled="false" debuggerPortRange="5058-6058" debuggerPathSegment="debug" maxLogFileSizeInKB="128" maxTotalLogFileSizeInKB="1024" maxLogFiles="20" devErrorsEnabled="true" flushResponse="false" enableXFF="false" promoteServerVars="" configOverrides="iisnode.yml" />
    </system.webServer>
    <system.web>
        <trust level="Low" />
    </system.web>
</configuration>
